/* General Styles */
.react-flow__node {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center; 
}

/* Node Type Specific */
.react-flow__node-input {
  background-color: #e0f0ff; /* Light blue */
}

.react-flow__node-hidden {
  background-color: #f0f0e0; /* Light gray */
}

.react-flow__node-output {
  background-color: #ffe0e0; /* Light pink */
}
